{
    "debug": "{{ debug }}",
    "env": "{{ env }}",
    "local": "{{ local }}",
    "log_level": "{{ log_level }}",
    "production": "{{ production }}",
    "project_code_name": "{{ project_code_name }}",
    "project_name": "{{ project_name }}",
    "proxy_url": "{{ proxy_url }}"
}