.toolbar {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 12px;
    width: 100%;
    box-shadow: none;
    margin: 8px;
}

.toolbar .toolbar-project-name {
    color: rgba(0,0,0,0.8);
    font-family: sans-serif;
    font-size: large;
    font-weight: 100;
    margin: 8px;
    margin: 0 auto;
}

.toolbar img {
    height: 13px;
}